# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Java/Maven
backend/target/
backend/logs/
*.class
*.jar
*.war
*.nar
*.ear
*.log
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Eclipse
.classpath
.project
.settings/
.metadata
bin/

# IntelliJ IDEA
*.iml
*.iws

# Mac
.DS_Store
